@model IEnumerable<Document_vault.Data.Document_Date_Detail>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
