@model IEnumerable<Document_vault.Data.Logs_Details>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
